@import "/shared/css/example.css";
@import "/shared/fonts/GraublauWeb/stylesheet.css";

/* 
 * The secret here is that the rotation of the shadow is done with -sand-transform, and
 * the rotation of the text is done with -ms-transform. 
 */

#intro p {
	 font-family: "GraublauWeb-Bold", "Arial", "Helvetica", sans-serif;
	 font-size: 2em;
	 font-weight: bold;
	 margin: 0 auto;
}

#intro {
	-sand-transform: rotate(45deg);
	background-image: -sand-gradient(linear, center top, center bottom, from(rgba(255,255,255,1)), to(rgba(255,255,255,1)));
	/* This is it */
}

#intro p, #intro p:before {
     text-shadow: 3px 3px 3px #cccccc;
     width: 230px;
	 
	
}

/* Step 1: apply the Chroma and Blur filter to the text you want the Drop Shadow on */

body.ie9 #intro p {
	zoom: 1;
	color: #cccccc;
	background-color: #ccccce;
	filter: progid:DXImageTransform.Microsoft.Chroma(color=#ccccce),
	        progid:DXImageTransform.Microsoft.Blur(pixelradius=3);
	
}



/* Step 2: create a ::before rule on the blurred text */

body.ie9 #intro p:before {
  /* color of the original text */
  color: black;

  /* This is needed to place the text directly over the shadow. */
  position: absolute;

  /* This assumes that the data-innertext is the same as the text inside the element. */
  content: attr(data-innertext);

  /* Positions the text */
  margin-top: 0px;
  margin-left: 0px;
  
  /* The rotation has to be done with -ms-transform.  -sand-transform can't work here. */
  -ms-transform: rotate(45deg) translate(50px, 36px);
 
}