@import "/shared/css/example.css";
@import "/shared/fonts/GraublauWeb/stylesheet.css";


#intro p {
	 font-family: "GraublauWeb-Bold", "Arial", "Helvetica", sans-serif;
	 font-size: 2em;
	 font-weight: bold;
	 margin: 0 auto;
}

#intro {
	transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff,endColorstr=#ffffff); 
     zoom: 1;
}

#intro p, #intro p:before {
     text-shadow: 3px 3px 3px #cccccc;
     width: 230px;
	
}

/* Step 1: apply the Chroma and Blur filter to the text you want the Drop Shadow on */

body.ie9 #intro p {
	zoom: 1;
	color: #cccccc;
	background-color: #ccccce;
	filter: progid:DXImageTransform.Microsoft.Chroma(color=#ccccce),
	        progid:DXImageTransform.Microsoft.Blur(pixelradius=3);
	
}



/* Step 2: create a ::before rule on the blurred text */

body.ie9 #intro p:before {
  /* color of the original text */
  color: black;

  /* This is needed to place the text directly over the shadow. */
  position: absolute;

  /* This assumes that the data-innertext is the same as the text inside the element. */
  content: attr(data-innertext);

  /* Positions the text */
  margin-top: 0px;
  margin-left: 0px;
}