@import "/shared/css/example.css";

.container {
    width: 400px;
    height: 100px;
    margin: 0.5em auto;
    text-align: center;
    border: solid 1px black;
    background-image: -sand-gradient(linear, center top, center bottom, from(#ffffff), to(#999999));
	background-color: #cccccc;
	
}

#small p {
	text-shadow: 0px 1px 0px #e5e5ee;
	-sand-chroma-override: #cccccc;
}

.container p{
	margin: 0;
	padding: 0;
	line-height: 100px;
	height: 100px;
}

.container p strong {
	
}

#large p, #rotated p {
	
	font-size: 25px;
	text-shadow: 0px 1px 0px #e5e5ee, 0px 2px 0px #e5e5ee;
	-sand-chroma-override: #cccccc;
}

#rotated p {
	position: relative;
	-sand-transform: rotate(-5deg);
	-sand-chroma-override: #cccccc;
}

body.ie7 #rotated p {
	left: -200px;
}
